.buttons{
    background-color: black;
}

.buttons > button {
    background-color: #1f2120; /* gray */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.buttons > .btn-leave{
    background-color: #FF0000;
}