.buttons-teacher{
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    height: 200px;
    background-color: black;
}
.con-teacher{
    height: 80px; 
    position: fixed; 
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%; 
    background-color: black; 
    opacity: 1;
}
.btn-question-teacher{
    background-color: black;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    outline: none;
    height: 40px;
    width: 200px;
    padding: 0px;
    margin-top: 30px;
}
.btn-raise-teacher{
    background-color: black;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    outline: none;
    height: 40px;
    width: 200px;
    padding: 0px;
    margin-top: 30px;
}


.btn-leave-teacher{
    background-color: red;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    outline: none;
    height: 40px;
    width: 200px;
    padding: 0px;
    margin-top: 30px;
}
.code{
    color: white;
}