.buttons-teacher{
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    height: 200px;
    background-color: black;
}
.con-teacher{
    height: 80px; 
    position: fixed; 
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%; 
    background-color: black; 
    opacity: 1;
}
.btn-question-teacher{
    background-color: black;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    outline: none;
    height: 40px;
    width: 200px;
    padding: 0px;
    margin-top: 30px;
}
.btn-raise-teacher{
    background-color: black;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    outline: none;
    height: 40px;
    width: 200px;
    padding: 0px;
    margin-top: 30px;
}


.btn-leave-teacher{
    background-color: red;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    outline: none;
    height: 40px;
    width: 200px;
    padding: 0px;
    margin-top: 30px;
}
.pad{
    background-color: black;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    outline: none;
    height: 25px;
    width: 200px;
    margin-right: 20px;

    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 7px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}
.code{
    color: white;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 15px;
    font-family: verdana;
    width: 350px;
    margin-top: 20px;
    height: 35px;
    border: none;
    border-radius: 15px;
    padding-top: 15px;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #1f2120;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}