.App {
  font-family: sans-serif;
  text-align: center;
  background-color: lightcyan;
}

.Single-pg{
  width: 50vw;
  height: 50vh;
}

.task-bar-btns{
  margin-top: 10px;
  margin-bottom: 0px;
  position: fixed;
  height: 20px;
}
